<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/auth/static/css/about.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-primary text-white text-center mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/auth/login">Library Management System</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item px-2">
                            <a class="nav-link" href="/auth/login" style="background-color: #E3E3E3; border-radius: 15px">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1 container text-center">
        
        <section id="team-info" class="mb-4">
            <h2>Meet the Team</h2>
            <div id="team-photo" class="my-3 d-flex justify-content-center">
                <img src="/auth/static/images/team.jpg" alt="Our Team Photo" class="img-fluid rounded shadow w-25">
            </div>
            <div id="team-details" class="mt-3">
                <h5 id="team-description">Team Members</h5>
                <p>This is our team from left to right: Astha, Mansi, Vaishali, Atiya.</p>
                <h5 id="application-purpose">Purpose</h5>
                <p>We created this application for our 2025 capstone project.</p>
            </div>
        </section>
    </main>    

    <footer class="bg-dark text-white text-center py-1 mt-auto">
        <p>&#169; 2025 Capstone Project: Atiya, Astha, Vaishali, Mansi</p>
    </footer>

    <script src="/auth/static/js/about.js"></script>
</body>
</html>
