.book-cover{
    width: 85%;
    object-fit:cover;
    border-radius: 8px;
}

.card{
    background-color: rgb(225, 230, 232, 0.3);
    border-radius: 15px;
    border-color: rgb(225, 230, 232, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header{
    background-color: #97b8b3;
}

.btn-custom-size {
    padding: 6px 12px; /* Adjust padding for smaller size */
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #162D3A;
    color: white;
    transition: background-color 0.3s;
}

.accordion-button {
    background-color: #97b8b3; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

.accordion-button:not(.collapsed) {
    background-color: #97b8b3; 
    color: black;
}

.accordion-item {
    border-radius: 15px;
    border-color: rgb(225, 230, 232, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-body {
    background-color: rgb(225, 230, 232, 0.3); 
}

.card-header{
    border: none;
}
#commentsList {
    height: 50vh; 
    overflow-y: auto; 
    border-radius: 15px;
    padding: 10px;
  }