/* Styling for the 'My Library' link */
.my-library-link {
    background-color: #e3e3e3;
    border-radius: 15px;
    padding: 6px 12px;
    text-decoration: none;
    color: #162d3a;
}

    /* Make carousel container relative to position the button on top */
.carousel {
    position: relative;
}

.carousel-item img {
    width: 200px;
    height: 220px;
    object-fit:cover;
    border-radius: 15px;
}

.display-6{
    background-color:rgba(134, 179, 141, 0.2); 
    border-radius: 15px;
    color: #162d3a;
}

.searchHeader{
    background-image: linear-gradient(rgba(58, 75, 77, 0.675), rgba(76, 147, 153, 0.379)), url('/search/static/images/background_search.png');
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    border-radius: 15px;
}

.book-section{
    background-color: rgb(225, 230, 232, 0.3);
    border-radius: 15px;
}

/* Adjust input fields */
.form-control, .form-select {
    border-radius: 15px;
    width: 100%;
    padding: 15px;
}

.list-group {
    max-height: 150px; /* Set a max-height for the book list */
    overflow-y: auto; /* Allow scrolling if there are many books */
}

.btn-outline-search{
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #162D3A;
    color: white;
    transition: background-color 0.3s;   
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #162D3A;
    border-radius: 10px;
}

/* Hover effect for book items */
#bookList .list-group-item:hover {
    background-color: #e3e3e3;
}