.btn-custom-size {
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #162D3A;
    color: white;
    transition: background-color 0.3s;
  }

  .forgot-password-link {
    font-size: 12px;
  }