<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="static/js/item_info.js"></script>
    <link href="/static/css/item_info.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>LIBRARY<br>MANAGEMENT<br>SYSTEM</h1>
        </div>
        <div>
            <nav class="nav-links">
                <a href="#dashboard">Dashboard</a>
                <a href="#browse">Browse</a>
                <a href="#mylibrary">My Library</a>
                <form action="/auth/logout" method="POST">
                    <button class="logout-btn">Logout</button>
                </form>
            </nav>
        </div>
    </header>
    
    <main class="content">
        <!-- Item Display Section -->
        <section class="item-display">
            <img id="item-cover" class="item-cover" alt="Book Cover">
            <div class="item-info" id="item-info"></div>
            <div class="item-actions">
                <button class="action-btn">Put on Hold</button>
                <br><button class="action-btn">Join Waitlist</button>
            </div>
        </section>
        
        <!-- Synopsis Section -->
        <section class="synopsis-section">
            <h2>Synopsis</h2>
            <p id="item-synopsis" class="synopsis-content"></p>
        </section>
        
        <!-- Reviews & Ratings Section -->
        <section class="reviews-section">
            <h2>Reviews and Ratings <span id="average-rating"></span></h2>
            <div id="reviews-list" class="reviews-content"></div>
        </section>
    </main>
    <footer class="footer">
        <h2>LMS CAPSTONE 2025</h2>
    </footer>
</body>
</html>
